body {
    font-family : arial,helvetica,times;
    font-size: 100%;
    margin: 0 10px;
}
a:hover,a:focus {
    font-style: italic;
    color: chartreuse;

}
Header h1{
    font-size: 175%;
    text-indent: 30px;

}
header h2{ 
    font-size: 130%;
    color: #333333;
    text-indent: 30px
    }
    