/* Q3 Requirement: Gradient background for HTML */
html {
    background-image: linear-gradient(to bottom, white 0%, #facd8a 100%);
}

/* Q2 & Q3 Requirements: Body styling */
body {
    font-family: Arial, Helvetica, sans-serif; /* Q2 */
    font-size: 100%; /* Q2 */
    
    /* Q3 Overrides */
    background-color: white; 
    width: 90%;
    margin: 15px auto; /* Centers the page */
    padding: 15px 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
     /* ".." means go up one folder level to find the image */
background: url("../martinpic.JPEG") right repeat-y fixed;
}

/* Q2 Requirement: Links */
a:hover, a:focus {
    font-style: italic;
    color: orangered;
    border: 3px blue;
    border-style: dotted solid;
    
}

/* Q2 Requirement: Headers */
header h1 {
    font-size: 175%;
    color: maroon;
    text-indent: 30px;
}

header h2 {
    font-size: 130%;
    color: #800000;
    text-indent: 30px;
}

/* Q2 Requirement: Image float */
/* Q3 Requirement: Align image with content boxes (2em margin) */
header img {
    float: left;
    margin-left: 2em; 

}
.shadow{
    text-shadow: 2px 2px 2px rgb(128,0,0);

}
article{
    clear: left;
    width: 70%; 
    float: left;
    column-count:2; 
    column-rule: 2px dotted orange;
    column-gap: 2em;
    margin-left: 2em;
 }
 article h3 {
    column-span: all;
 }
 article img{
    float:left;
    margin-left: 1em;
    margin-bottom: 1em;
 }
 article p::first-letter{
    font-size:3em;
    font-weight:bold;
    font-style:italic;
    color:yellowgreen; 
 }
 aside{
 width:20%;
 float: right; 
 background-color:white;
}
footer{
    clear:both;
    border-top: 2px solid orange;
}